<div>
  <!-- Loading screen-->
  <cd-loading-screen [hidden]="loaded"></cd-loading-screen>
  <!-- End loading screen-->

  <!-- Wrapper-->
  <div id="wrapper" [hidden]="!loaded">

    <!-- Left navigation bar -->
    <cd-navigation></cd-navigation>

    <!-- Main page wrapper -->
    <div id="page-wrapper" class="gray-bg">

      <!-- Top navigation -->
      <cd-topnavbar></cd-topnavbar>

      <div class="wrapper wrapper-content">
        <!-- Main view/routes wrapper-->
        <router-outlet></router-outlet>
      </div>

      <!-- Footer -->
      <cd-footer></cd-footer>

    </div>
    <!-- End page wrapper-->

  </div>
  <!-- End wrapper-->
</div>