<div class="live">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="widget style1 navy-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="icon-coins fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right" *ngIf="value.total && value.currency">
            <span> Total value </span>
            <h2 class="font-bold">{{ value.total | currency:value.currency.code:true:'4.2-2'}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>