.live {
    .icon-coins {
        font-size: 5em;
    }

    .personal-pct {
        margin-top: 10px;

        h3 {
            font-size: 24px;
            .pct {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
    
}