<div class="transactions-table">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Transactions </h5>
      <div class="ibox-tools">
        <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
        <ul class="dropdown-menu dropdown-user">
          <li><a href="#">Config option 1</a>
          </li>
          <li><a href="#">Config option 2</a>
          </li>
        </ul>
        <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-sm-9 m-b-xs">
          <div data-toggle="buttons" class="btn-group">
            <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Day </label>
            <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Week </label>
            <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Month </label>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Date </th>
              <th>Bought coin </th>
              <th>Source coin </th>
              <th>Price </th>
              <th>Bought amount </th>
              <th>Source amount </th>   
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of transactions; let i = index">
              <td>{{i + 1}}</td>
              <td>{{t.date | date: 'dd/MM/yyyy'}}</td>
              <td>{{t.coin_dst}}</td>
              <td>{{t.coin_src}}</td>
              <td class="right">{{t.price | eightDigits}}</td>
              <td class="right">{{t.amount_dst | eightDigits}}</td>
              <td class="right">{{t.amount_src | eightDigits}}</td>   
            </tr>       
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>