<div class="login middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">IN+</h1>

    </div>
    <h3>Welcome Crypto Dolphin</h3>
    <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
      <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
    </p>
    <p>Login in. To see it in action.</p>
    <a (click)="auth.login()" class="btn btn-success btn-facebook block full-width m-b"><i class="icon-facebook"> </i> Sign in with Facebook</a>
    <p class="m-t"> Development & Design by <strong>Pablo Ibanez</strong> - 2017 </p>
  </div>
</div>