.coin-widget {
    .ibox-title {
        border-bottom: 4px solid black;
        .current-value {
            margin-top: 0;
        }
        .name,
        .current-value {
            font-size: 14px;
        }
        .coin-icon {
            margin-right: 10px;
        }
    }
    .ibox-content {
        .total-value {
            span {
                font-size: 20px;
            }
        }
        .coins {
            margin-top: 10px;
            span {
                font-size: 16px;
            }
        }
    }
}