<div class="coin-widget">
  <div class="ibox float-e-margins">
    <div class="ibox-title" [style.border-bottom-color]="coin.color">
      <h5 class="name">
        <i [style.color]="coin.color" class="icon-{{coin.name | lowercase}}-circle coin-icon"></i> {{coin.fullName}}
      </h5>
      <div *ngIf="price" class="label label-primary current-value pull-right">{{price['USD']}}</div>
    </div>
    <div class="ibox-content">
      <div class="total-value">
        <div><span class="no-margins">40 886,200</span></div>
        <div class="stat-percent font-bold text-success">98% <i class="icon-bolt"></i></div>
        <small>Total value</small>
      </div>
      <div class="coins">
        <div><span class="no-margins">1.94512478</span></div>
        <small>Coins</small>
      </div>
    </div>
  </div>
</div>